bin/
build/
.venv/
.uv-cache/
.DS_Store
__pycache__
.pytest_cache/
.ruff_cache/
.doit.db*
notes.md
*.bin

# kicad ignores 
.history
production
*-backups
fabrication-toolkit-options.json
fp-lib-table
DRC.rpt
*.lck
