set_io REG_SELECT[1] A2
set_io REG_SELECT[0] A1

set_io RESB B1
set_io WRB C2
set_io RDB C1

set_io DATA[7] D2
set_io DATA[6] D1
set_io DATA[5] E2
set_io DATA[4] E1
set_io DATA[3] G2
set_io DATA[2] H1
set_io DATA[1] J1
set_io DATA[0] H2

set_io CSB H9

# blank / reserved: D9

set_io SPI_CSB[0] D8
set_io SPI_CSB[1] C9
set_io SPI_CSB[2] A9
set_io SPI_CSB[3] B8

set_io SCK A8
set_io MOSI B7
set_io MISO A7

set_io USBPU A3
set_io CLK B2
